* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #f4f4f4;
}

header{
    padding: 15px 0;
    background: #333;
    text-align: center;
    color: white;
}

section{
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
}

h2{
    color: #493D9E;
    padding-bottom: 8px;
}

.container{
    width: 80%;
    margin: auto;
    background-color: white; 
    padding: 20px;
}

.profile-img{
    display: block;
    width: 150px;
    margin:10px auto;
    border-radius: 50%;
}
a{
    text-decoration: none;
}

.gallery{
    display: block;
    margin: 10px auto;
    height: 232px;
    width: 100%;
    border-radius: 10px;
}

.project{
    margin:10px 0;
}
